@{
    ViewData["Title"] = "Home Page";
}

<main aria-labelledby="title">
        <h2>ID: @Model.Id</h2>
        <h2>Nome: @Model.Nome</h2>
        <h2>Sexo: @Model.Sexo</h2>
        <h2>RG: @Model.RG - @Model.Dig_RG </h2>
        
</main>